<article class="article-read">
  <h2 class="article-title">
    {{article.title}}
  </h2>
  <h3 class='article-author'>
    {{contributors-names article.contributors}}
  </h3>
  <div class="article-intro">
    {{{article.excerpt}}}
  </div>
  <div class="article-content">
    {{{article.content}}}
  </div>
</article>
