<aside class="photo">
  <img src="{{contributor.contributorImage.thumbnail.url}}" alt="contributor.contributorName" />
</aside>
<div class="content">
  <h3>
    {{contributor.contributorName}}
  </h3>
  <p>
    {{{contributor.contributorBio}}}
  </p>
</div>
