<ul>
  <li class="link-twitter">
    <a href="{{build-twitter-link text}}" target="_blank">
      <i class="fa fa-twitter"></i>
      <span>Twitter</span>
    </a>
  </li>
  <li class="link-facebook">
    <a href="{{build-facebook-link text}}" target="_blank">
      <i class="fa fa-facebook"></i>
      <span>Facebook</span>
    </a>
  </li>
  <li class="link-pinterest">
    <a href="{{build-pinterest-link text image}}" target="_blank">
      <i class="fa fa-pinterest"></i>
      <span>Pinterest</span>
    </a>
  </li>
  <li class="link-whatsapp">
    <a href="{{build-whatsapp-link text image}}" target="_blank">
      <i class="fa fa-whatsapp"></i>
      <span>Whatsapp</span>
    </a>
  </li>
</ul>
