<section class="category-index {{category-class model.category.slug}}">
  <h2>{{model.category.name}}</h2>

  {{#infinite-scroller on-load-more=(perform loadMore) use-document=true trigger-at='70%'}}
    <div class="articles-tiles-grid">
      {{#each model.articles as |article|}}
        {{article-tile
            article=article
            category=model.category
            class=(category-class model.category.slug)
            onClick=(transition-to 'articles.category.article' model.category.slug article.slug)
        }}
      {{/each}}
    </div>

    {{#unless loadMore.isIdle}}
      <div class="loading-posts">
        <span class="signal-loader"></span>
      </div>
    {{/unless}}
  {{/infinite-scroller}}
</section>
