.article-single {
  @each $category-slug, $category-color in $category-colors {
    &.category-#{$category-slug} {
      .article-title, .article-title a {
        color: $category-color;
      }
      .read-more {
        color: $category-color;
      }
    }
  }

  header {
    border: 5px solid #fff;
    box-sizing: border-box;
    img {
      width: 100%;
      height: auto;
    }
  }
  &.full {
    .article-intro {
      @include body-intro;
    }
  }
  &.preview {
    header {
      width: 100%;
      height: 340px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.category-label {
  .category-link {
    @include sub-title;
    display: inline-block;
    padding: unit-space(0.5);
    color: #fff;
    text-decoration: none;
    border-width: 5px;
    border-style: solid;
    border-color: #fff;
    text-transform: uppercase;
    &.alternative {
      background: #fff;
    }
  }
}

.article-read {
  @include content-column;
  @include body-copy;
  color: #1a1a1a;
  position: relative;

  .article-title {
    @include large-title;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
  }
  .category-label {
    position: absolute;
    top: -90px;
  }
  .article-author {
    @include sub-title;
  }
  .jssocials {
    @include sub-title;
    font-size: 20px;
    padding: unit-space(0.25) 0;
    margin: unit-space(1) 0 unit-space(0.25) 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
    text-align: center;

    .jssocials-share {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
     .jssocials-share-logo {
       font-size: 24px;
     }
    }
    @include tablet {
      .jssocials-share-whatsapp {
        display: none;
      }
    }
    @include desktop {
      .jssocials-share-whatsapp {
        display: none;
      }
      .jssocials-share {
        margin-left: 15px;
        .jssocials-share-logo {
          font-size: 18px;
        }
        .jssocials-share-label {
          font-size: 16px;
        }
      }
    }
  }
  .read-more {
    @include sub-title;
    text-decoration: none;
    border: none;
    padding: unit-space(1) 0;
    display: inline-block;
  }
  .article-content {
    margin: unit-space(1) 0;

    p {
      margin-bottom: unit-space(1);
      i, em {
        font-style: italic;
      }
      b, strong {
        font-weight: bold;
      }
      a {
        text-decoration: none;
        color: #1a1a1a;
        border-bottom: 1px solid #BFBFBF;
      }
      img {
        margin: unit-space(1) 0;
        max-width: 100%;
        height: auto;
        @include desktop {
          max-width: 161.8%;
          left: 50%;
          position: relative;
          transform: translate(-50%, 0);
        }
      }
    }
    .wp-caption {
      max-width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      .wp-caption-text {
        text-align: center;
        color: #757575;
        @include caption-text;
      }
      @include desktop {
        max-width: 161.8%;
        left: 50%;
        position: relative;
        transform: translate(-50%, 0);
      }
    }
  }
}

.article-comments {
  background: #F9F9F9;
  color: #F9F9F9;
  padding: unit-space(2) 0;
  margin-top: unit-space(2);
  overflow: hidden;
  h2 {
    @include sub-title;
    color: #1a1a1a;
  }
}

.article-disquss {
  @include content-column;
  @include body-copy;
}
