.articles-tiles-grid {
  @include desktop() {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.article-tile {
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  padding: unit-space(2);
  border-color: #fff;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  position: relative;
  box-sizing: border-box;

  h3, h3 a {
    @include large-title();
    font-size: $tile-title;
    line-height: $tile-title;
    color: #fff;
    margin: 0;
    text-decoration: none;
  }
  h4 {
    @include sub-title;
    color: #fff;
    border-color: #fff;
  }
  .category-label {
    position: absolute;
    bottom: 0;
    right: 0;
    .category-link {
      margin: 0;
      border-width: 5px 0px 0 5px;
    }
  }
  @each $category-slug, $category-color in $category-colors {
    &.category-#{$category-slug} {
      background-color: rgba($category-color, 0.9);
    }
  }

  @include desktop() {
    h3 {
      margin-bottom: unit-space(3);
    }
    .article-author {
      position: absolute;
      bottom: 0;
    }
    &:nth-child(4n){
      width: 36.5%;
    }
    &:nth-child(4n+1) {
      width: 36.5%;
    }
    &:nth-child(4n+2){
      width: 63.5%;
      border-left: 0;
      h3 {
        max-width: 63.5%;
      }
    }
    &:nth-child(4n+3) {
      width: 63.5%;
      border-right: 0;
      h3 {
        max-width: 63.5%;
      }
    }
  }
}
