body {
  &.menu-open {
    overflow: hidden;
  }
}
.site-nav {
  background: $header-background;
  color: $header-text;
  padding: unit-space(1) unit-space(2);
  height: $header-height;
  box-sizing: border-box;
  z-index: 10000;

  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;

    &.hide-nav {
      top: -1 * $header-height;
      nav {
        top: -1 * ($header-height + 10);
      }
    }
    @include tabletAndMobileOnly {
      nav {
        position: fixed;
        width: 100%;
        transition: top 0.2s ease-in-out;
        top: $header-height;
        right: 0;
        background: rgba(0,0,0,0.8);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-align: center;
        box-sizing: border-box;
        max-width: 450px;
        height: 100%;
        &.closed-mobile {
          display: none;
        }
        a {
          display: block;
          padding: unit-space(1) 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          margin: 0 unit-space(1);
        }
      }
    }
    @include desktop {
      @include clearfix;
    }
  }
  &.static {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    @include tabletAndMobileOnly {
      nav, .show-mobile-button {
        display: none;
      }
    }
  }

  .logo {
    float: left;
    a {
      background: url(images/logo.svg) no-repeat;
      text-indent: 1000px;
      overflow: hidden;
      display: inline-block;
      width: 178px;
      height: 41px;
    }
  }
  .sub-title {
    position: absolute;
    top: -500px;
  }
  .show-mobile-button {
    display: block;
    border: none;
    background: none;
    color: $header-text;
    font-size: 20px;
    text-decoration: none;
    float: right;
    margin-top: 8px;
    cursor: pointer;
    outline: none;
    .explanation-button {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }
  nav {
    float: right;
    font-family: $title-font;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

    a {
      color: $header-text;
      text-transform: uppercase;
      font-size: $header-links;
      text-decoration: none;
      padding: unit-space(0.5);
      margin-left: unit-space(1);
      display: inline-block;
      line-height: 24px;

      @each $category-slug, $category-color in $category-colors {
        &.#{$category-slug} {
            color: $category-color;
        }
      }

      @include desktop {
        .social-label {
            display: none;
        }
      }
    }
  }
}
