body {
  &.menu-open {
    overflow: hidden;
  }
}
.site-nav {
  background: $header-background;
  color: $header-text;
  height: $header-height;
  box-sizing: border-box;
  z-index: 10000;

  position: fixed;
  top: 0;
  right: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;

  .menu-wrap {
    @include site-column;
  }
  .hamburger {
    float: right;
    outline: none;
  }

  nav {
    position: fixed;
    width: 100%;
    transition: top 0.2s ease-in-out;
    top: $header-height;
    right: 0;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    box-sizing: border-box;
    // max-width: 450px;
    height: 100%;
    padding-top: 20px;

    font-family: $title-font;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    font-weight: normal;

    &.closed-mobile {
      display: none;
    }

    a {
      color: $header-text;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      display: block;
      padding: unit-space(1) 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin: 0 unit-space(1);

      @each $category-slug, $category-color in $category-colors {
        &.#{$category-slug} {
            color: $category-color;
        }
      }
    }
    &.home {
      @each $category-slug, $category-color in $category-colors {
        a.category-#{$category-slug} {
            color: $category-color;
        }
      }
    }
    .global-social {
      a {
        display: inline-block;
      }
    }
    .social-label {
      display: none;
    }
    @include mobileOnly {
      animation-name: fadeInDown;
    }
    @include tablet {
      animation-name: slideInRight;
      max-width: 400px;
    }
    @include desktop {
      position: static;
      background: none;
      box-shadow: none;
      display: block;
      padding: 0;
      text-align: right;
      height: $header-height;
      line-height: $header-height;
      max-width: 100%;

      a {
        display: inline-block;
        border: none;
        padding: 0;
        margin-left: 0;
        font-size: 12px;
      }
      &.closed-mobile {
        display: block;
      }
    }
  }

  @include desktop {
    @include clearfix;
    .hamburger {
      display: none;
    }
    .global-social {
      float: right;
    }
  }

  .logo {
    float: left;
    a {
      background: url(images/logo.svg) no-repeat center center;
      background-size: 127px 28px;
      text-indent: 1000px;
      overflow: hidden;
      display: inline-block;
      width: 127px;
      height: $header-height;
    }
  }
  .sub-title {
    position: absolute;
    top: -500px;
  }
}
