/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ember-application {
  padding-top: 80px; }

.category-arquitectura .category-link {
  background-color: #e74c3c; }
  .category-arquitectura .category-link.alternative {
    border-color: #e74c3c; }

.category-urbanismo .category-link {
  background-color: #2980b9; }
  .category-urbanismo .category-link.alternative {
    border-color: #2980b9; }

.category-politica .category-link {
  background-color: #2c3e50; }
  .category-politica .category-link.alternative {
    border-color: #2c3e50; }

.category-academia .category-link {
  background-color: #FFD23F; }
  .category-academia .category-link.alternative {
    border-color: #FFD23F; }

.article-single.category-arquitectura .article-title, .article-single.category-arquitectura .article-title a {
  color: #e74c3c; }

.article-single.category-arquitectura .read-more {
  color: #e74c3c; }

.article-single.category-urbanismo .article-title, .article-single.category-urbanismo .article-title a {
  color: #2980b9; }

.article-single.category-urbanismo .read-more {
  color: #2980b9; }

.article-single.category-politica .article-title, .article-single.category-politica .article-title a {
  color: #2c3e50; }

.article-single.category-politica .read-more {
  color: #2c3e50; }

.article-single.category-academia .article-title, .article-single.category-academia .article-title a {
  color: #FFD23F; }

.article-single.category-academia .read-more {
  color: #FFD23F; }

.article-single header {
  border: 5px solid #fff;
  box-sizing: border-box; }
  .article-single header img {
    width: 100%;
    height: auto; }

.article-single.full .article-intro {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px; }

.article-single.preview header {
  width: 100%;
  overflow: hidden; }

@media (min-width: 1024px) {
  .article-single.preview header {
    height: 340px;
    overflow: hidden;
    position: relative; }
    .article-single.preview header img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.category-label .category-link {
  font-family: "Istok Web", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-left: 4px solid #2c3e50;
  padding: 4.5px 18px;
  margin: 18px 0;
  display: inline-block;
  padding: 9px;
  color: #fff;
  text-decoration: none;
  border-width: 5px;
  border-style: solid;
  border-color: #fff;
  text-transform: uppercase; }
  .category-label .category-link.alternative {
    background: #fff; }

.article-read {
  margin: 18px;
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #1a1a1a;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .article-read {
      margin: 36px; } }
  @media (min-width: 1024px) {
    .article-read {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto; } }
  .article-read .article-title {
    font-family: "Istok Web", sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    margin: 36px 0;
    margin-bottom: 0; }
    .article-read .article-title a {
      text-decoration: none; }
  .article-read .category-label {
    position: absolute;
    top: -90px; }
  .article-read .article-author {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #2c3e50;
    padding: 4.5px 18px;
    margin: 18px 0; }
  .article-read .jssocials {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #2c3e50;
    padding: 4.5px 18px;
    margin: 18px 0;
    font-size: 20px;
    padding: 4.5px 0;
    margin: 18px 0 4.5px 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
    text-align: center; }
    .article-read .jssocials .jssocials-share {
      margin-left: 30px; }
      .article-read .jssocials .jssocials-share:first-child {
        margin-left: 0; }
      .article-read .jssocials .jssocials-share .jssocials-share-logo {
        font-size: 24px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .article-read .jssocials .jssocials-share-whatsapp {
        display: none; } }
    @media (min-width: 1024px) {
      .article-read .jssocials .jssocials-share-whatsapp {
        display: none; }
      .article-read .jssocials .jssocials-share {
        margin-left: 15px; }
        .article-read .jssocials .jssocials-share .jssocials-share-logo {
          font-size: 18px; }
        .article-read .jssocials .jssocials-share .jssocials-share-label {
          font-size: 16px; } }
  .article-read .read-more {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #2c3e50;
    padding: 4.5px 18px;
    margin: 18px 0;
    text-decoration: none;
    border: none;
    padding: 18px 0;
    display: inline-block; }
  .article-read .article-content {
    margin: 18px 0; }
    .article-read .article-content p {
      margin-bottom: 18px; }
      .article-read .article-content p i, .article-read .article-content p em {
        font-style: italic; }
      .article-read .article-content p b, .article-read .article-content p strong {
        font-weight: bold; }
      .article-read .article-content p a {
        text-decoration: none;
        color: #1a1a1a;
        border-bottom: 1px solid #BFBFBF; }
      .article-read .article-content p img {
        margin: 18px 0;
        max-width: 100%;
        height: auto; }
        @media (min-width: 1024px) {
          .article-read .article-content p img {
            max-width: 161.8%;
            left: 50%;
            position: relative;
            transform: translate(-50%, 0); } }
    .article-read .article-content .wp-caption {
      max-width: 100%; }
      .article-read .article-content .wp-caption img {
        width: 100%;
        height: auto; }
      .article-read .article-content .wp-caption .wp-caption-text {
        text-align: center;
        color: #757575;
        font-family: "Istok Web", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 19.6px; }
      @media (min-width: 1024px) {
        .article-read .article-content .wp-caption {
          max-width: 161.8%;
          left: 50%;
          position: relative;
          transform: translate(-50%, 0); } }

.article-comments {
  background: #F9F9F9;
  color: #F9F9F9;
  padding: 36px 0;
  margin-top: 36px;
  overflow: hidden; }
  .article-comments h2 {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #2c3e50;
    padding: 4.5px 18px;
    margin: 18px 0;
    color: #1a1a1a; }

.article-disquss {
  margin: 18px;
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .article-disquss {
      margin: 36px; } }
  @media (min-width: 1024px) {
    .article-disquss {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto; } }

@media (min-width: 1024px) {
  .articles-tiles-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; } }

.article-tile {
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  padding: 36px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  position: relative;
  box-sizing: border-box;
  position: relative; }
  .article-tile .image-background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center; }
  .article-tile h3, .article-tile h3 a {
    font-family: "Istok Web", sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    margin: 36px 0;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    margin: 0;
    text-decoration: none; }
  .article-tile h4 {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #2c3e50;
    padding: 4.5px 18px;
    margin: 18px 0;
    color: #fff;
    border-color: #fff; }
  .article-tile .category-label {
    position: absolute;
    bottom: 0;
    right: 0; }
    .article-tile .category-label .category-link {
      margin: 0;
      border-width: 5px 0px 0 5px; }
  .article-tile.category-arquitectura {
    background-color: rgba(231, 76, 60, 0.5); }
  .article-tile.category-urbanismo {
    background-color: rgba(41, 128, 185, 0.5); }
  .article-tile.category-politica {
    background-color: rgba(44, 62, 80, 0.5); }
  .article-tile.category-academia {
    background-color: rgba(255, 210, 63, 0.5); }
  @media (min-width: 1024px) {
    .article-tile h3 {
      margin-bottom: 54px; }
    .article-tile .article-author {
      position: absolute;
      bottom: 0; }
    .article-tile:nth-child(4n) {
      width: 36.5%; }
    .article-tile:nth-child(4n+1) {
      width: 36.5%; }
    .article-tile:nth-child(4n+2) {
      width: 63.5%;
      border-left: 0; }
      .article-tile:nth-child(4n+2) h3 {
        max-width: 63.5%; }
    .article-tile:nth-child(4n+3) {
      width: 63.5%;
      border-right: 0; }
      .article-tile:nth-child(4n+3) h3 {
        max-width: 63.5%; } }

@media (min-width: 1024px) {
  .home-tiles.articles-tiles-grid {
    height: 88.5vh; } }

.contributor-bio {
  margin: 18px;
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a1a;
  position: relative;
  border-top: 5px solid #000000;
  margin-top: 36px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .contributor-bio {
      margin: 36px; } }
  @media (min-width: 1024px) {
    .contributor-bio {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto; } }
  .contributor-bio h3 {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-left: 4px solid #2c3e50;
    padding: 4.5px 18px;
    margin: 18px 0;
    border: none;
    padding: 0; }
  .contributor-bio .photo {
    width: 150px; }
    .contributor-bio .photo img {
      max-width: 100%;
      height: auto; }
  .contributor-bio .content p {
    font-family: "Istok Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 19.6px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .contributor-bio .photo {
      position: absolute;
      width: 150px;
      left: 0;
      top: 30px; }
      .contributor-bio .photo img {
        max-width: 100%;
        height: auto; }
    .contributor-bio .content {
      padding-left: 200px; } }
  @media (min-width: 1024px) {
    .contributor-bio .photo {
      position: absolute;
      width: 150px;
      left: 0;
      top: 30px; }
      .contributor-bio .photo img {
        max-width: 100%;
        height: auto; }
    .contributor-bio .content {
      padding-left: 200px; } }

.site-nav {
  background: #000000;
  color: #999999;
  padding: 18px 36px;
  height: 80px;
  box-sizing: border-box;
  z-index: 10000; }
  .site-nav.fixed {
    position: fixed;
    top: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
    width: 100%; }
    .site-nav.fixed.hide-nav {
      top: -80px; }
      .site-nav.fixed.hide-nav nav {
        top: -90px; }
    @media (max-width: 1023px) {
      .site-nav.fixed nav {
        position: fixed;
        width: 100%;
        transition: top 0.2s ease-in-out;
        top: 80px;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        box-sizing: border-box; } }
    @media (max-width: 767px) {
      .site-nav.fixed nav a {
        display: inline-block;
        width: 50%;
        margin: 0;
        box-sizing: border-box; } }
    @media (min-width: 1024px) {
      .site-nav.fixed:after {
        content: "";
        display: table;
        clear: both; } }
  .site-nav.static {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
    @media (max-width: 1023px) {
      .site-nav.static nav {
        display: none; } }
  .site-nav .logo {
    float: left; }
    .site-nav .logo a {
      background: url(images/logo.svg) no-repeat;
      text-indent: 1000px;
      overflow: hidden;
      display: inline-block;
      width: 178px;
      height: 41px; }
  .site-nav nav {
    float: right;
    font-family: "Istok Web", sans-serif;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .site-nav nav a {
      color: #999999;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      padding: 9px;
      margin-left: 18px;
      display: inline-block;
      line-height: 24px; }
      .site-nav nav a.arquitectura {
        color: #e74c3c; }
      .site-nav nav a.urbanismo {
        color: #2980b9; }
      .site-nav nav a.politica {
        color: #2c3e50; }
      .site-nav nav a.academia {
        color: #FFD23F; }

.site-footer {
  padding: 36px 36px;
  background: #fff; }
  .site-footer:after {
    content: "";
    display: table;
    clear: both; }
  .site-footer .copyright {
    padding: 9px 0;
    margin: 0;
    color: #999999;
    text-align: center; }
  .site-footer nav {
    font-family: "Istok Web", sans-serif;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .site-footer nav a {
      color: #999999;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      padding: 9px;
      margin-left: 18px;
      display: inline-block;
      line-height: 24px; }
      .site-footer nav a.arquitectura {
        color: #e74c3c; }
      .site-footer nav a.urbanismo {
        color: #2980b9; }
      .site-footer nav a.politica {
        color: #2c3e50; }
      .site-footer nav a.academia {
        color: #FFD23F; }
  @media (max-width: 767px) {
    .site-footer nav a {
      display: block;
      text-align: center; } }
  @media (max-width: 1023px) {
    .site-footer .copyright {
      margin-top: 18px; } }
  @media (min-width: 1024px) {
    .site-footer nav {
      float: right; }
    .site-footer .copyright {
      float: left;
      text-align: left; } }

.loading-page {
  width: 100%;
  height: 100vh; }

.ember-load-indicator {
  background: #F9F9F9;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }
  .ember-load-indicator .signal-loader {
    border-color: #1a1a1a; }

.signal-loader {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; }

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

/*# sourceMappingURL=criticarq-client.css.map */