<header class="site-nav">
  <h1 class="logo">
    {{#link-to 'index'}}CRITICarq.gt{{/link-to}}
  </h1>
  <nav>
    <a href="#">Urbanismo</a>
    <a href="#">Política</a>
    <a href="#">Academia</a>
  </nav>
</header>

{{outlet}}
