{{title 'CRITICarq' prepend=true separator=" \ "}}

{{app-nav categories=model.categories}}

{{outlet}}

<footer class="site-footer">
  <p class="copyright">
    &copy; 2016 CRITICarq.gt y colaboradores.
  </p>
</footer>
