{{title 'CRITICarq' prepend=true separator=" \ "}}

<header class="site-nav">
  <h1 class="logo">
    {{#link-to 'home'}}CRITICarq.gt{{/link-to}}
  </h1>
  <nav>
    {{#each model.categories as |category|}}
      {{#link-to 'articles.category' category.slug activeClass=category.slug}}
        {{category.name}}
      {{/link-to}}
    {{/each}}
  </nav>
</header>

{{outlet}}

<footer class="site-footer">
  <span class="copyright">
    &copy; 2016 CRITICarq.gt
  </span>
  <nav>
    {{#each model.categories as |category|}}
      {{#link-to 'articles.category' category.slug activeClass=category.slug}}
        {{category.name}}
      {{/link-to}}
    {{/each}}
  </nav>
</footer>
