<header class="site-nav">
  <h1 class="logo">
    {{#link-to 'index'}}CRITICarq.gt{{/link-to}}
  </h1>
  <nav>
    {{#each model.categories as |category|}}
      {{category-nav category=category}}
    {{/each}}
  </nav>
</header>

{{outlet}}
