<header class="site-nav">
  <h1 class="logo">
    {{#link-to 'index'}}CRITICarq.gt{{/link-to}}
  </h1>
  <nav>
    {{#each model.categories as |category|}}
      {{#link-to 'articles.category' category.slug activeClass=category.slug}}
        {{category.name}}
      {{/link-to}}
    {{/each}}
  </nav>
</header>

{{outlet}}
