<article class="article-read">
  <h2 class="article-title">
    Modscape develops timber-clad alphington house for australian family
  </h2>
  <h3 class='article-author'>
    Diego Castillo
  </h3>
  <div class="article-intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lacinia velit, quis congue ipsum. Etiam vitae erat justo. Aenean nibh odio, congue ac malesuada sed, viverra sit amet dolor. Mauris ut euismod purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sit amet massa sollicitudin, auctor quam non, ornare diam.
  </div>
  <div class="article-content">
    <p>
      Vivamus a eros id tortor vulputate rhoncus. In iaculis efficitur diam, lobortis posuere tellus vehicula id. Nam quis ex posuere, interdum felis sed, ultricies est. Suspendisse tristique dignissim massa vel faucibus. Etiam vel turpis consequat, vehicula nunc sed, lacinia mauris. Nulla a tortor ac dolor pharetra placerat nec eget nisl. Quisque iaculis eros at mollis aliquam. Phasellus dignissim nisi id orci congue sodales. Cras et auctor est. Duis tempor, lorem id fringilla scelerisque, odio sem tempor metus, at tempus turpis diam tempus neque.
    </p>
    <p>
      Vivamus a eros id tortor vulputate rhoncus. In iaculis efficitur diam, lobortis posuere tellus vehicula id. Nam quis ex posuere, interdum felis sed, ultricies est. Suspendisse tristique dignissim massa vel faucibus. Etiam vel turpis consequat, vehicula nunc sed, lacinia mauris. Nulla a tortor ac dolor pharetra placerat nec eget nisl. Quisque iaculis eros at mollis aliquam. Phasellus dignissim nisi id orci congue sodales. Cras et auctor est. Duis tempor, lorem id fringilla scelerisque, odio sem tempor metus, at tempus turpis diam tempus neque.
    </p>
  </div>
</article>
